body {
    background-color: #F5F5DC;
}

#green {
    background-color: #015249;
    margin-bottom: 0px;
}

#gold{
    color: #FFD700;
    font-family: 'Open Sans Condensed', sans-serif;
    
}
#center{
    margin: auto;
}
#marge{
    margin-top: 25px;
}
.card {
        margin: auto;
        float: none;
        margin-bottom: 10px;
        border: 4px solid #FFD700;
}