#heading{
    margin-bottom: 0px;
    color: #C0B283;
    background-color: #373737;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#timeline{
    margin-top: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
#timeline2{
    margin-top: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
#banner{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
#rightcol{
    float: right;
    margin-top: 10px;
}
p {
    font-family: 'Poppins', sans-serif;
}
li{
    margin-bottom: 10px;
}